/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


body{
    background: honeydew;
}
.password-output{
    border: 2px solid yellowgreen;
    height: 50px;
    width: 100%;
}

.output-container{
    border: 2px solid red; 
    display: flex; 
    justify-content: space-between;
    flex: 1;
}

input[name="pw-length"]{
    color: red;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}



.strength-bars{
    height: 5px;
    width: 30px;
    border: 1px solid transparent;
    margin-left: .5rem;
    border-radius: 5px;
   background-color: aquamarine;
    
}

/* .strength-bars:nth-child(2){
    background-color: red;
}
.strength-bars:nth-child(3){
    background-color: yellow;
}
.strength-bars:nth-child(4){
    background-color: green;
} */

.copy-btn,.clear-btn{
    display: none;
}


.show-strength-bars{
    background-color: navy;  
}

.show .clear-btn{
    display: block;  
}

.show {
    display: block;
}
