
@font-face{
    font-family: "Tomorrow";
    src:
        local("Tomorrow-Regular"),
        url("../../assests/fonts/Tomorrow/Tomorrow-Regular.ttf");
}


@font-face{
    font-family: "Barlow";
    src:
        local("Barlow-Regular"),
        url("../../assests/fonts/Barlow/Barlow-Regular.ttf");
}