@use '../utils'  as u;

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: u.$heading-bold;
}


label,
legend,
span,
button{
    font-family: u.$heading-regular;
}

h1{}


p{
    font-family: u.$body-regular;
}