// ****Tomorrow font weights****
@font-face{
    font-family: 'Tomorrow-Regular';
    src: local('Tomorrow-Regular'),
        url('/app/assests/fonts/Tomorrow/Tomorrow-Regular.ttf'),format('truetype');
}

@font-face{
    font-family: 'Tomorrow-Medium';
    src: local('Tomorrow-Medium'),
        url('/app/assests/fonts/Tomorrow/Tomorrow-Medium.ttf'),format('truetype');
}

@font-face{
    font-family: 'Tomorrow-Bold';
    src:
        local('Tomorrow-Bold'),
        url('/app/assests/fonts/Tomorrow/Tomorrow-Bold.ttf'),format('truetype');
}




// ****Barlow font weights******
@font-face{
    font-family: 'Barlow-Thin';
    src:
        local('Barlow-thin'),
        url('/app/assests/fonts/Barlow/Barlow-Thin.ttf'),format('truetype');
}

@font-face{
    font-family: 'Barlow-Regular';
    src:
        local('Barlow-Regular'),
        url('/app/assests/fonts/Barlow/Barlow-Regular.ttf'), format('truetype');
}

@font-face{
    font-family: 'Barlow-SemiBold';
    src:
        local('Barlow-SemiBold'),
        url('/app/assests/fonts/Barlow/Barlow-SemiBold.ttf'), format('truetype');
}





