@use 'fonts';

// font Variables
$heading-regular: 'Tomorrow-Regular', sans-serif;
$heading-bold: 'Tomorrow-Bold', sans-serif;
$body-thin: 'Barlow-Thin', sans-serif;
$body-regular: 'Barlow-Regular', sans-serif;
