@use '../util' as u;


.recent{
    padding: u.rem(0) u.rem(5);
    margin-top: 0;

    &__title{
        @include u.margin-bottom(mb-2);
        padding: 0;
        margin-top: 0;
        text-transform: uppercase;
    }

    &__password-list{
        padding: 0
    }
}

.d-flex{
    @include u.acivate-flexbox;
    justify-content: space-between;
}

.rect-paswd p{
    color: u.$secondary-txt-color;
}